.footer {
  background-color: #f8f9fa; /* Light gray background */
  padding: 0.1rem 0; /* Adjust padding as needed */
}

.footer-links {
  list-style: none;
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  text-align: center; /* Center links horizontally */
  justify-content: center; /* Center links horizontally (for responsive layouts) */
}

.footer-links li {
  display: inline-block; /* Display links inline */
  margin: 0 1rem; /* Add space between links */
}

.footer-links a {
  color: #343a40; /* Gray text color */
  text-decoration: none; /* Remove underline */
}

.footer-links a:hover {
  color: inherit; /* Inherit text color on hover */
}

.iconos {
  color: #77d886;
  font-size: 25px; /* Increase the font size */
  margin: 0 15px; /* Centra los iconos horizontalmente */
}

@media (max-width: 768px) {
  /* Estilos específicos para pantallas pequeñas */
  .iconos {
    font-size: 25px; /* Tamaño de los iconos */
    margin-left: 110px;
}
}

.footer-icons {
  margin-top: 1rem; /* Add space above icons */
  display: flex;
  justify-content: center; /* Center icons horizontally */
}

.footer-icons .icon {
  font-size: 1.5rem; /* Adjust icon size */
  margin: 0 0.5rem; /* Add space between icons */
  color: #343a40; /* Gray icon color */
  transition: color 0.3s ease-in-out; /* Smooth hover transition */
}

.footer-icons .icon:hover {
  color: var(--bs-primary); /* Change color to Bootstrap primary on hover */
}

.footer-icons .icon.fab-facebook-f:hover {
  color: var(--bs-facebook); /* Change Facebook icon to blue on hover */
}

.footer-icons .icon.fab-twitter:hover {
  color: var(--bs-twitter); /* Change Twitter icon to light blue on hover */
}

.footer-icons .icon.fab-instagram:hover {
  color: var(--bs-instagram); /* Change Instagram icon to red on hover */
}
.centered-links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente */
}