/* Contenedor principal de la barra de navegación */

.navigation-bar {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
}
.navigation-bar .logo-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navigation-bar .logo-icon{
  height: 70px !important;
  width: auto !important;
  object-fit: contain; /* Asegura que la imagen no se deforme */
  margin-right: 10px;
}

/* Estilo del título */
.navigation-bar .title {
  color: #0d67c0;
  text-align: center; /* Centrar el título */
  font-family: 'DIN Alternate', sans-serif;
  margin: 0;
  margin-left: 270px;
  white-space: nowrap; /* Evita que el texto del título se desborde */
}



/* Contenedor del menú */
.navigation-bar .menu-container {
  display: flex;  /* Usar flexbox para organizar los elementos del menú */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: flex-end;
  border: none;
}

/* Estilo del icono del menú (hamburguesa) */
.navigation-bar .menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: #a6e0b0;
  margin-right: 15px;
  /* margin-top: -8px; */ 
}


/* Estilo del menú desplegable */
.navigation-bar .menu-overlay {
  position: absolute;
  top: 100px; /* Asegura que el menú se despliegue justo debajo de la barra */
  right: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1100;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

/* Mostrar el menú cuando se hace clic */
.menu-overlay.show-menu {
  display: block;
}

.navigation-bar .dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
}

.notification-button {
  z-index: 1030;
  margin-right: 180px;
  min-width: 2.5rem;
  min-height: 2.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

/* Estilo de los botones del menú */
.navigation-bar .menu-button,
.navigation-bar .menu-button-logout-button {
  background-color: transparent;
  color: #333;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  border: none;
}
/* Efecto hover para los botones del menú */
.menu-button:hover {
  background-color: rgba(81, 128, 84, 0.3);
}

/* Efecto hover para los botones del menú */
.navigation-bar .menu-button:hover {
  background-color: rgba(81, 128, 84, 0.3);
}
/* Estilo específico para el botón de cerrar sesión */
.menu-button-logout-button {
  color: #d9534f;
}

/* Efecto hover para el botón de cerrar sesión */
.menu-button-logout-button:hover {
  background-color: rgba(175, 100, 87, 0.3);
}





/* Media Queries */
@media (max-width: 1024px) {
  .navigation-bar .logo-icon {
    height: 50px;
  }
  
  .navigation-bar .title {
    font-size: 1.3rem;

    
  }
}

@media (max-width: 768px) {
  .navigation-bar {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
  }

  .navigation-bar .logo-container {
    flex: 0 1 auto;
    margin-right: 10px;
  }

  .navigation-bar .title {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-left: 150px;
  }

  .navigation-bar .menu-container {
    order: 3;
    flex-basis: 100%;
    justify-content: flex-end;
    margin-top: -10px;
  }

  .navigation-bar .menu-icon {
    margin-top: -28px;  /*Altura del boton  */
  }

  .notification-button {
    margin-top: 28px;

  }
}

@media (max-width: 480px) {
  .navigation-bar .logo-icon {
    height: 40px;
  }

  .navigation-bar .title {
    font-size: 1rem;
  }

  .notification-button {
    right: 40px;
  }
}