.faqOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .faqModal {
    position: relative;
    max-width: 70%;
    max-height: 70%;
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: white;
  }
  
  .faqContent {
    padding: 15px;
  }

/* .customModalStyles {
   background-attachment: fixed;
      /* top: 50px,
      left: 50px,
      right: auto,
      bottom auto,
      marginRight'-50%',
      transform translate(-50%, -50%),
      maxWidth 90%,
      maxHeight 90%,
      overflow auto,
      padding 20px,
      borderRadius 8px,
      backgroundColor white, */
/* } */
/* .overlay {
  background-color: blueviolet;
    
}; */ 