

/* Acordeón (Opción 1: Flexbox) */
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  /* Estilos del contenedor de cada subventana */
  align-items: center; /* Centra horizontalmente */
}

/* Acordeón (Opción 2: CSS Grid) */
.accordion-container {
  display: grid;
  grid-template-columns: 1fr;
}

.accordion-item {
  /* Estilos del contenedor de cada subventana */
  justify-items: center; /* Centra horizontalmente */
}



