.confirmation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1300;
  }
  
  .confirmation-modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
  
  }
  
  .modal-preview {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 100px;
    overflow-y: auto;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .btn {
    /* padding: 10px 20px; */
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-confirm {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    padding: 7px 14px;
    border:none;
    border-radius: 4px;
  }

  .btn-confirm:hover{
    background-color: #3aad3d;
  }
  
  .btn-cancel {
    background-color: #f44336;
    color: white;
    font-size: 20px;
    padding: 7px 14px;
    border:none;
    border-radius: 4px;
  }
  .btn-cancel:hover{
    background-color: #ef392c;
  }