
html {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}


header {
  /* ... */
  display: flex; /* Aplicamos flexbox al header */
  justify-content: space-between;
}

.logo-wrapper {
  /* Eliminamos posición absoluta */
  text-align: center;
}


